<nav class="navbar">
  <h1>Shopping on Rails</h1>
  <% if current_user %>
    <li><%= link_to "Recipes", recipes_path%></li>
   <li> <%= link_to "Foods", foods_path%> </li>
   <li> <%= link_to "General Shopping List", "/general_shopping_list" %> </li>
  <% end %>
 <li> <%= link_to "Public Recipes", "/public_recipes"%> </li>
  <div>
    <% if current_user %>
     <li> <%= link_to "Sign out", destroy_user_session_path, method: :delete, data: { turbo_method: :delete }%> </li>
      <% else %>
      <% if current_page?(new_user_session_path) %>
       <li> <%= link_to "Sign up", new_user_registration_path%> </li>
      <% elsif current_page?(new_user_registration_path) %>
       <li> <%= link_to "Sign in", new_user_session_path%> </li>
      <% end %>
    <% end %>
  </div>
</nav>
